@media (max-width: 800px) {
  .responsive-stepper {
    display: block;
  }

  .responsive-stepper .mat-horizontal-stepper-header-container {
    display: none !important; // esconde header horizontal
  }

  .responsive-stepper .mat-vertical-stepper-header {
    font-size: 14px;
  }

  .card {
    max-width: 100%;
  }
  
}

@media (min-width: 801px) {
  .card {
    max-width: 80%;
  }
}

.card {
  margin: 24px auto;
  padding: 18px;
  border-radius: 12px;
}

.full {
  width: 100%;
}

.buttons {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

.address-type {
  margin-bottom: 12px;
}